<html lang="en"></html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    
    <div class="about content">
        <h2>404</h2>
        <p>OOOOOPS!</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>

</html>