<html lang="en"></html>
<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    
    <div class="about content">
        <h2>About Page</h2>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>